__pycache__
.vscode
.ipynb_checkpoints

used_settings.yaml
scripts/.temp.gif
Thumbs.db

playground/
*.csv
*.txt
*.jpg
*.h5
*.slp

*.m
*.doc
*.docx
*.xlsx
*.zip
*.mp4
*.png
*.ipynb
*.pdf
*.tab


scripts/extract_episodes.py
