*.png
*.ipynb
*.pdf
*.tab
.ipynb_checkpoints
__pycache__
52-54
57-58
59-62
63-64
angle_range
area_explored
frequency
Juv
locomotion
locomotion_plots
mara_tmp
moving_plots
pca_plots
37-38
44-48
*.csv
*.txt
*.jpg
*.h5
*.slp
used_settings.yaml
*.m
*.doc
*.docx
*.xlsx
*.zip
*.mp4
.vscode